// Variables de style
$link-color: #000000;
$link-hover-color: #0056b3;
$link-active-color: #0073e6;

$header-height: 962px;
$menu-hover-color: #ff6347; // Ajout pour hover en mobile
$color-Font-Headear: #ffffff; // Couleur de la police de l'en-tête
$color-Font-Menu: #ffffff; // Couleur de la police du menu
// Conteneur pour l'image d'en-tête

$main-color: #fff; // Couleur principale (blanche pour le texte)
$highlight-color: #f9841c; // Couleur d'accent pour "Développeur"


.section-home {
  width: 100vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99vh;
  position: absolute;
  z-index: 3;
}


// Conteneur du header
.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  


  .logo {
   display: none;
  

  h1 {
    font-size: 24px;
    text-decoration: none;
  }
}

  nav.menu-header-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin-top: 40px;
    

    ul {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      list-style: none;
      margin-top: 50px;
      gap: 60px;

      li {
        margin-left: 20px;

        a {
          text-decoration: none;
          color: $link-color;
          text-transform: uppercase;
          transition: color 0.6s ease;
          color: $color-Font-Headear;

          &[aria-current="page"] {
            font-weight: 500;
          }

          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
}



// Apparition du menu
.menu-header-container {
  position: flex; /* Pour activer le z-index */
  visibility: hidden; /* Cacher le menu par défaut */
  opacity: 0; /* Menu invisible par défaut */
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Transition sur l'opacité */

  
  /* Bloque le scroll de la page quand le menu est ouvert */
  &.active {
    visibility: visible; /* Rendre le menu visible */
    opacity: 1; /* Menu visible */
    transition: opacity 0.3s ease; /* Transition de l'opacité */
    overflow: hidden; /* Empêche le scroll */
  }

  .main-menu {

    a {
      
      &:hover {
        color: #ddd; /* Changer la couleur au survol */
      }

    }
  }
}
  .nav.menu-header-container {
    display: none; // Cacher le menu principal en mode mobile
  }


// Bouton Menu Burger (affiché sur mobile uniquement)
.burger-menu {
  display: flex; // Caché par défaut
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  z-index: 2;
  margin-left: 30px;
  position: fixed;

  .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-Font-Headear;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
  }

  &.active .line:nth-child(1) {
    transform: rotate(45deg) translateY(16px);
  }

  &.active .line:nth-child(2) {
    opacity: 0;
  }

  &.active .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-16px);
  }
}


nav.menu-header-container.portfolio-active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 22px;
  width: 170px;
  height: auto;
  backdrop-filter: blur(10px);
  padding: 20px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 3;


  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
  }
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    margin-top: 30px;



    li {
      position: relative;
      margin-left: 0;

      a {
        padding: 8px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-Font-Headear;
        font-weight: 500;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        background:  rgba(255, 255, 255, 0.1);
        box-shadow:  0 1px 8px rgba(0, 0, 0, 0.5);
        transition: all 0.4s ease-in-out;

        &[aria-current="page"] {
          font-weight: normal;
          background:  rgba(255, 255, 255, 0.1);;
          color: black;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
          animation: glass 2s infinite;  
        }
      }
    }
  }
}



// Bouton Menu Burger futuriste
.burger-menu.portfolio-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 4;

  .line {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
  }

  &.active .line:nth-child(1) {
    transform: rotate(45deg) translateY(18px);
  }

  &.active .line:nth-child(2) {
    opacity: 0;
  }

  &.active .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-18px);
  }
}

.header-image {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $header-height;
  color: white;
  text-align: end;
  width: 100%;
 
/* Animation de fading et déplacement */
@keyframes fadeInMove {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
}

  h2 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.3;
    z-index: 2;
    max-width: 80%;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    


    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(20px); /* Déplacement initial vers le bas */
      animation: fadeInMove 1s ease-out forwards;
      margin: 5px 0;
      font-size: 2rem;
      position: absolute; /* Permet de positionner les mots librement */

      &:first-child {
        font-size: 5rem;
        font-weight: bold;
        color: $highlight-color; // Couleur différente pour "Développeur"
        top: auto;
        left: auto;
        transform: translate(-600px, -200px);
        animation: none;
        opacity: 1;
      }

      &:nth-child(2) {
        font-size: 4rem;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.8);
        top: auto;
        left: auto;
        transform: translate(40px, -185px);
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        font-size: 2.5rem;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.8);
        top: auto;
        left: auto;
        transform: translate(-600px, -110px);
        animation-delay: .5s;
      }

      &:nth-child(4) {
        font-size: 2rem;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.8);
        top: auto;
        left: auto;
        transform: translate(-580px, -230px);
        animation-delay: .7s;
      }

      &:nth-child(5) {
        font-size: 2rem;
        font-weight: 500;
        font-style: bold;
        color: #f9b31c;
        top: auto;
        left: auto;
        transform: translate(-350px, 80px);
        animation-delay: 1s;
      }

      &:last-child {
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 1);
        margin-top: 15px;
        top: auto;
        left: auto;
        transform: translate(-470px, 100px);
        animation-delay: 1.5s;
      }
    }
  }

  .design {
      position: absolute;
      // Ajout du masque noir sur toute la section
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, 
      rgba(0, 0, 0, 1) 10%, 
      rgba(0, 0, 0, 1) 40%, 
      rgba(0, 0, 0, 0) 50%, 
      rgba(0, 0, 0, 0.8) 200%);
      z-index: 1; // Passe au-dessus des images
      pointer-events: none; // Laisse cliquer à travers le masque
    }

    .front {
      display: flex;
      flex-direction: row;
      justify-content: end;
      background-color: #000;
    
      
      img {
        top: 0;
        left: 0;
        width: 15%;
        height: $header-height;
        object-fit: cover;
        z-index: 0;
  
        -webkit-clip-path: polygon(6% 0px, 100% 0px, 94% calc(100% - 0px), 0% 100%);
        clip-path: polygon(6% 0px, 100% 0px, 94% calc(100% - 0px), 0% 100%);
              // On utilise un masque incliné vers l'extérieur
      // Décalage de l'image à l'intérieur du cadre
     
      }

      .img1 {
        object-position: 51% center; // Ajuste la partie visible de l’image
      }
      .img2 {
        object-position: 63% center; // Ajuste la partie visible de l’image
      }
      .img3 {
        object-position: 45% center; // Ajuste la partie visible de l’image
      }
      .img4 {
        object-position: 50% center; // Ajuste la partie visible de l’image
        clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
      }
    }
  }
}


/* Animation pour effet lumineux */
@keyframes light-glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                 0 0 10px rgba(255, 255, 255, 0.3),
                 0 0 20px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.6),
                 0 0 40px rgba(255, 255, 255, 0.4);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                 0 0 10px rgba(255, 255, 255, 0.3),
                 0 0 20px rgba(255, 255, 255, 0.1);
  }
}

.main-header.competences-active {
  height: 80px;
  width: 100vw;
  position: absolute;
}

.container.competences-active {
  display: block;
  
  .logo {
    display: block;
    text-decoration: none;
    color: $color-Font-Headear;
  

  h1 {
    margin-left: 40px;
    margin-top: 13px;
    font-size: 24px;
    text-decoration: none;

     &:hover {
    /* Appliquer un effet lumineux */
    animation: light-glow 3s infinite ease-in-out;
     }
  }
}

nav.menu-header-container.competences-active {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: auto;
  margin-top: 0;
  backdrop-filter: blur(10px);
  padding: 20px;
  visibility: visible;
  opacity: 1;

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    list-style: none;



    li {
      position: relative;
      margin-left: 0;

      a {
        padding: 8px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-Font-Headear;
        font-weight: 500;
        transition: all 0.4s ease-in-out;


        &:hover {
          animation: glass 2s infinite;  
        }
      }
    }
  }
}
}


// Bouton Menu Burger futuriste
.burger-menu.competences-active {
  display: none;
} 

// Media Query : small desktop
@media (max-width: 1440px) {
  .header-image {
    h2 {
  
      span {
        
        &:first-child {
          font-size: 5rem;
          transform: translate(-380px, -200px);
        }
  
        &:nth-child(2) {
          font-size: 4rem;
          transform: translate(250px, -185px);
        }
  
        &:nth-child(3) {
          font-size: 2.5rem;
          transform: translate(-380px, -110px);
        }
  
        &:nth-child(4) {
          font-size: 2rem;
          transform: translate(-360px, -230px);
        }
  
        &:nth-child(5) {
          font-size: 2rem;
          transform: translate(-30px, -30px);
        }
  
        &:last-child {
          font-size: 2.5rem;
          transform: translate(-150px, -10px);
        }
      }
    }
 
    .design {

      &::before {
        content: "";
        background:linear-gradient(to right, rgba(0, 0, 0, 0) 0%,
         rgb(0, 0, 0) 10%,
          rgb(0, 0, 0) 20%,
           rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.1) 200%);
      }

      .front {
        
        img {
          width: 20%;
        }
      }
    }
  }
}
// menu tablette
@media (max-width: 1024px) {

  .container.competences-active nav.menu-header-container.competences-active ul li a {
    padding: 5px 10px;
  }
  
  .header-image {
    h2 {
  
      span {
        
        &:first-child {
          font-size: 3.5rem;
          transform: translate(-260px, -200px);
        }
  
        &:nth-child(2) {
          font-size: 2.5rem;
          transform: translate(190px, -185px);
        }
  
        &:nth-child(3) {
          font-size: 2.5rem;
          transform: translate(-260px, -140px);
        }
  
        &:nth-child(4) {
          font-size: 2rem;
          transform: translate(-250px, -230px);
        }
  
        &:nth-child(5) {
          font-size: 2rem;
          transform: translate(-100px, -30px);
        }
  
        &:last-child {
          font-size: 2.5rem;
          transform: translate(-220px, -10px);
        }
      }
    }


    .design {

      &::before {
        content: "";
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, 
        rgba(0, 0, 0, 1) 100%, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0.8) 0%);
      }

      .front {
        
        img {
          width: 26%;
        }
      }
    }
  }
}

// menu paysage mobile
@media (max-width: 928px) {
  nav.menu-header-container.portfolio-active {
    top: -80px;
    left: 0;
    width: 100%;
    height: 110vh;
    padding: 10px;
    background: rgb(0 0 0 / 30%) !important;
    
  
    ul {  
      align-items: center;
      gap: 80px;
      margin: 100px 0;
      
      li {
        a {
          color: $color-Font-Menu;
          background: rgb(0 0 0 / 10%);
          backdrop-filter: blur(10px);
        }
      }
    }



    .header-image {
      h2 {
    
        span {
          
          &:first-child {
            font-size: 3rem;
            transform: translate(-190px, -190px);
          }
    
          &:nth-child(2) {
            font-size: 2rem;
            transform: translate(195px, -175px);
          }
    
          &:nth-child(3) {
            font-size: 2rem;
            transform: translate(-190px, -140px);
          }
    
          &:nth-child(4) {
            font-size: 1.5rem;
            transform: translate(-180px, -215px);
          }
    
          &:nth-child(5) {
            font-size: 1.5rem;
            transform: translate(-60px, -30px);
          }
    
          &:last-child {
            font-size: 2rem;
            transform: translate(-160px, -10px);
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .header-image {
    h2 {
  
      span {
        
        &:first-child {
          font-size: 2.5rem;
          transform: translate(-190px, -190px);
        }
  
        &:nth-child(2) {
          font-size: 1.7rem;
          transform: translate(130px, -177px);
        }
  
        &:nth-child(3) {
          font-size: 1.7rem;
          transform: translate(-192px, -150px);
        }
  
        &:nth-child(4) {
          font-size: 1.5rem;
          transform: translate(-180px, -215px);
        }
  
        &:nth-child(5) {
          font-size: 1.2rem;
          transform: translate(-60px, -20px);
        }
  
        &:last-child {
          font-size: 1.3rem;
          transform: translate(-120px, -10px);
        }
      }
    }
    .design {

      .front {
        
        img {
          width: 26%;
        }
        .img1 {
          object-position: 53% center; // Ajuste la partie visible de l’image
        }
        .img2 {
          object-position: 67% center; // Ajuste la partie visible de l’image
        }
        .img3 {
          object-position: 41% center; // Ajuste la partie visible de l’image
        }
        .img4 {
          object-position: 48% center; // Ajuste la partie visible de l’image
          clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
        }
      }
    }
  }
}



@media (max-width: 440px) {
  .header-image {
     
    h2 {
    margin-top: 350px;

      span {
        
        &:first-child {
          font-size: 1.75rem;
          transform: translate(-130px, -380px);
        }
  
        &:nth-child(2) {
          font-size: 1.3rem;
          transform: translate(100px, -375px);
        }
  
        &:nth-child(3) {
          font-size: 1.3rem;
          transform: translate(-130px, -350px);
        }
  
        &:nth-child(4) {
          font-size: 1.2rem;
          transform: translate(-123px, -400px);
        }
  
        &:nth-child(5) {
          font-size: .9rem;
          transform: translate(-126px, -300px);
        }
  
        &:last-child {
          font-size: .9rem;
          transform: translate(-128px, -295px);
        }
      }
    }
    .design {

      .front {
        
        img {
          width: 100%;
        }
        .img1 {
          object-position: 53% center; // Ajuste la partie visible de l’image
        }
        .img2 {
          object-position: 67% center; // Ajuste la partie visible de l’image
        }
        .img3 {
          object-position: 41% center; // Ajuste la partie visible de l’image
          clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
        }
        .img4 {
          display: none;
          clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
        }
      }
    }
  }
  nav.menu-header-container.portfolio-active {
    top: -80px;
    left: 0;
    width: 100%;
    height: 110vh;
    padding: 0;
    
  
    ul {  
      align-items: center;
      gap: 80px;
      margin: 100px 0;
      

      li {
        position: relative;
        margin-left: 0;
      }
    }
  }
}


@media screen and (orientation: landscape) and (max-width: 800px) {
  .header-image h2 span:first-child {
 font-size: 2.5rem;
 transform: translate(-200px, -80px);
}
.header-image h2 span:nth-child(2) {
 font-size: 1.7rem;
 transform: translate(130px, -67px);
}
.header-image h2 span:nth-child(3) {
 font-size: 1.7rem;
 transform: translate(-202px, -35px);
}
.header-image h2 span:nth-child(4) {
 font-size: 1.5rem;
 transform: translate(-190px, -110px);
}
.header-image h2 span:nth-child(5) {
 font-size: 1.2rem;
 transform: translate(-70px, 40px);
}
.header-image h2 span:last-child {
 font-size: 1.3rem;
 transform: translate(-120px, 50px);
}
.header-image .design .front img {
 width: 100%;
}
.header-image .design .front .img1 {
 -o-object-position: 53% center;
    object-position: 53% center;
}
.header-image .design .front .img2 {
 -o-object-position: 67% center;
    object-position: 67% center;
}
.header-image .design .front .img3 {
 -o-object-position: 41% center;
    object-position: 41% center;
 -webkit-clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
         clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
}
.header-image .design .front .img4 {
 display: none;
 -webkit-clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
         clip-path: polygon(6% 0px, 100% 0px, 100% calc(100% - 0px), 0% 100%);
}
nav.menu-header-container.portfolio-active {
 top: -80px;
 left: 0;
 width: 100%;
 height: 110vh;
 padding: 0;
}
nav.menu-header-container.portfolio-active ul {
 align-items: center;
 gap: 40px;
 margin: 80px 0;
}
nav.menu-header-container.portfolio-active ul li {
 position: relative;
 margin-left: 0;
}
.btn-glass {
 transform: translate(-20px, 100px) !important;
}
}
